LaVoixDesAires/*
!LaVoixDesAires/src
!LaVoixDesAires/addons.make
!LaVoixDesAires/bin/data
*.obj
.DS_Store
.com.apple.timemachine.supported
LaVoixDesAires/src/.vs/
LaVoixDesAires/LaVoixDesAires.xcodeproj/*
*.pbxproj
*.xcuserstate
LaVoixDesAires/LaVoixDesAires.xcodeproj/project.xcworkspace/xcuserdata/adminmac.xcuserdatad/UserInterfaceState.xcuserstate
